.transition {
  transition: all 1s;
}
.square {
  width: 100px;
  height: 100px;
  background-color: black;
}

.rounded {
  border-radius: 50px;
}

/* □ square = square
○ circle = square + rounded */
