/*
.transition {
  transition: all 1s;
}
*/
.square {
  width: 100px;
  height: 100px;
  background-color: black;
}

.rounded {
  border-radius: 50px;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid black;
}

/* □ square = square
○ circle = square + rounded */
